
/.build/*
/bochs state/*
theos
*.lock
modules/Basic/

program
*.vdi
*.img
*.iso
*.elf
the_work
todo
*.zip
*.vmdk
demo.txt

files/chess
files/echo
files/event_listener
files/fun_colors
files/hello
files/index
files/list_directory
files/old_people_only
files/print_input
files/quit
files/read
files/set_theme
files/test_app
files/the_great_adventure
files/theme_maker
files/theos
files/view_image
files/time
files/noise
files/text_editor
files/wait
files/copy_file
files/assemble
files/inspect_exe

.#*

test
time
script
update
test.jai
files/code/x86_64.json
