
/.build/*
/bochs state/*
formosa
*.lock
modules/Basic/
modules/File/
modules/Input/

program
*.vdi
*.img
*.iso
*.elf
the_work
todo
*.zip
*.vmdk
demo.txt

files/chess
files/echo
files/event_listener
files/fun_colors
files/hello
files/index
files/list_directory
files/old_people_only
files/print_input
files/quit
files/read
files/set_theme
files/test_app
files/the_great_adventure
files/theme_maker
files/formosa
files/view_image
files/time
files/noise
files/text_editor
files/wait
files/copy_file
files/assemble
files/inspect_exe
files/equals
files/get_people

.#*

test
time
script
update
test.jai
files/code/x86_64.json
/modules/.build/*
aaaaaaa.png
files/key_code_printer
ahci_test
userspace_apps/chess_engine/_libnnueprobe.a
