
/.build/*
/bochs state/*
formosa
modules/Basic/
modules/Input/
modules/.build/*
modules/Simp/
modules/Windows.jai

program
*.lock
*.vdi
*.img
*.iso
*.elf
the_work
todo
*.zip
*.vmdk
.vs/*

filesystem/programs/chess
filesystem/programs/echo
filesystem/programs/event_listener
filesystem/programs/fun_colors
filesystem/programs/hello
filesystem/programs/index
filesystem/programs/list_directory
filesystem/programs/old_people_only
filesystem/programs/print_input
filesystem/programs/quit
filesystem/programs/read
filesystem/programs/set_theme
filesystem/programs/test_app
filesystem/programs/the_great_adventure
filesystem/programs/theme_maker
filesystem/programs/formosa
filesystem/programs/view_image
filesystem/programs/time
filesystem/programs/noise
filesystem/programs/text_editor
filesystem/programs/wait
filesystem/programs/copy_file
filesystem/programs/assemble
filesystem/programs/inspect_exe
filesystem/programs/equals
filesystem/programs/get_people
filesystem/programs/mouse_test
filesystem/programs/key_code_printer
filesystem/programs/paint
filesystem/programs/modules_test
filesystem/programs/example

.#*

test
time
script
update
test.jai
filesystem/code/x86_64.json
aaaaaaa.png
ahci_test
userspace_apps/chess_engine/_libnnueprobe.a
userspace/paint.jai
userspace/example.jai

filesystem/system/keyboard_layouts/ansi_us_qwerty.xml
filesystem/fun_things

filesystem/image_test.jpg
filesystem/OpenSans-BoldItalic.ttf
freetype-2.12.1.tar.gz
freetype-2.12.1/*
filesystem/programs/create_many_files
